// not null and unique constraint

DROP TABLE CUSTOMER;

CREATE TABLE CUSTOMER
(
 CUSTOMER_ID NUMBER(10),
 CUSTOMER_NAME VARCHAR2(50),
 CUSTOMER_EMAIL VARCHAR2(30)
);

INSERT INTO CUSTOMER (CUSTOMER_ID,CUSTOMER_NAME,CUSTOMER_EMAIL)VALUES (101,'AAA','A@GMAIL.COM');

INSERT INTO CUSTOMER (CUSTOMER_ID,CUSTOMER_NAME,CUSTOMER_EMAIL)VALUES (101,'BBB','B@GMAIL.COM');

INSERT INTO CUSTOMER (CUSTOMER_ID,CUSTOMER_EMAIL)VALUES (103,'C@GMAIL');  

SELECT * FROM CUSTOMER;

DROP TABLE CUSTOMER;

CREATE TABLE CUSTOMER
(
 CUSTOMER_ID NUMBER(10) NOT NULL UNIQUE,
 CUSTOMER_NAME VARCHAR2(50) NOT NULL,
 CUSTOMER_EMAIL VARCHAR2(30) UNIQUE
)

INSERT INTO CUSTOMER (CUSTOMER_ID,CUSTOMER_NAME,CUSTOMER_EMAIL)VALUES (101,'AAA','A@GMAIL.COM');

INSERT INTO CUSTOMER (CUSTOMER_ID,CUSTOMER_NAME,CUSTOMER_EMAIL)VALUES (101,'BBB','B@GMAIL.COM');

INSERT INTO CUSTOMER (CUSTOMER_ID,CUSTOMER_EMAIL)VALUES (103,'C@GMAIL');

ALTER TABLE CUSTOMER DROP (CUSTOMER_NAME);	

ALTER TABLE CUSTOMER ADD (CUSTOMER_NAME VARCHAR2 (50));

DROP TABLE CUSTOMER;

CREATE TABLE CUSTOMER
(
 CUSTOMER_ID NUMBER(10) NOT NULL,
 CUSTOMER_NAME VARCHAR2(50) NOT NULL,
 CUSTOMER_EMAIL VARCHAR2(30)
);

ALTER TABLE CUSTOMER ADD
(
 CONSTRAINT UQ_CUSTOMER_ID
 UNIQUE (CUSTOMER_ID)
);

ALTER TABLE CUSTOMER DROP CONSTRAINT UQ_CUSTOMER_ID;

ALTER TABLE CUSTOMER ADD
(
 CONSTRAINT UQ_CUSTOMER_EMAIL 
 UNIQUE (CUSTOMER_EMAIL )
);

ALTER TABLE CUSTOMER DROP CONSTRAINT UQ_CUSTOMER_EMAIL;



// will not work, not null constraint should be given inline 
while creating the table in the CREATE query
 
/*ALTER TABLE CUSTOMER ADD 	
(
 CONSTRAINT NN_CUSTOMER_NAME
 NOT NULL (CUSTOMER_ID)
);*/


// check constraint

DROP TABLE SUBJECT;

CREATE TABLE SUBJECT
( 
 	SUBJECT_ID INTEGER,
 	SUBJECT_NAME VARCHAR2(20),
	STUDENT_NAME VARCHAR2(50), 
 	CREDIT NUMERIC(3) 
)

INSERT INTO SUBJECT (SUBJECT_ID,SUBJECT_NAME,STUDENT_NAME,CREDIT) VALUES(101,'MATHS','AAA',96);

INSERT INTO SUBJECT (SUBJECT_ID,SUBJECT_NAME,STUDENT_NAME,CREDIT) VALUES(101,'MATHS','AAA',650);

SELECT * FROM SUBJECT;

DROP TABLE SUBJECT;

CREATE TABLE SUBJECT
( 
 	SUBJECT_ID INTEGER,
 	SUBJECT_NAME VARCHAR2(20),
	STUDENT_NAME VARCHAR2(50), 
 	CREDIT NUMERIC(3) CHECK (CREDIT > 0 AND CREDIT <= 100)
)

DROP TABLE SUBJECT;

CREATE TABLE SUBJECT
( 
 	SUBJECT_ID INTEGER,
 	SUBJECT_NAME VARCHAR2(20),
	STUDENT_NAME VARCHAR2(50), 
 	CREDIT NUMERIC(3) 
)

ALTER TABLE SUBJECT ADD 
(CONSTRAINT CHK_SUBJECT_CREDIT CHECK (CREDIT > 0 AND CREDIT <= 100));

ALTER TABLE SUBJECT DROP CONSTRAINT CHK_SUBJECT_CREDIT;


// default constraint

DROP TABLE SUBJECT;

CREATE TABLE SUBJECT
( 
 	SUBJECT_ID INTEGER,
 	SUBJECT_NAME VARCHAR2(20),
	STUDENT_NAME VARCHAR2(50), 
 	CREDIT NUMERIC(3),
	PASS NUMERIC(2) DEFAULT 40
)

ALTER TABLE SUBJECT ADD 
(CONSTRAINT CHK_SUBJECT_CREDIT CHECK (CREDIT > 0 AND CREDIT <= 100));


INSERT INTO SUBJECT (SUBJECT_ID,SUBJECT_NAME,STUDENT_NAME,CREDIT) VALUES(101,'MATHS','AAA',96);

SELECT * FROM SUBJECT;

INSERT INTO SUBJECT (SUBJECT_ID,SUBJECT_NAME,STUDENT_NAME,CREDIT,PASS) VALUES(102,'SCIENCE','AAA',96,75);
